header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
}

.logo{
  display: flex;
  color: mediumAquamarine;
  align-items: center;
  padding-left: 20px;

}

.logo span{
	padding-left: 10px;
}

.nav{
	display: inline-block;
	padding-left: 800px;
}

.content{
	display: flex;
	border: 1px solid;
	justify-content: flex-start;
	

}

.left.container{
	display: flex;
	width: 630px;
	border: 1px solid;
	justify-content: flex-start;
	flex-direction: column;
	
}

.main-story{
	display: flex;
	justify-content: flex-start;
	width: 630px;
	border: 1px solid;
	flex-direction: column;
}

.main-img{
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
	width: 630px;
	height: 300px;
	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;    
}

.orca{
    display: flex;
	justify-content: flex-start;
	width: 315px;
	border: 1px solid;
	flex-direction: column;
}

.autumn-img{
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
	width: 315px;
	height: 300px;
	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.burger{
	display: flex;
	justify-content: flex-start;
	width: 315px;
	border: 1px solid;
	flex-direction: column;
}

.camera-img{
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
	width: 315px;
	height: 300px;
	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.mid-container{
	display: flex;
	width: 300px;
	border: 1px solid;
	flex-direction: column;
	
}

.fbi{
	display: flex;
	width: 300px;
	border: 1px solid;
	flex-direction: column;
}

.cat-img{
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
	width: 300px;
	height: 300px;
	font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.brooklyn{
	display: flex;
	width: 300px;
	border: 1px solid;
	flex-direction: column;
}

.right.container{
	display: flex;
	width: 240px;
	border: 1px solid;
	flex-direction: column;
	
}

.cookie{
	border: 1px solid;
}

.newsbites{
	display: flex;
	width: 240px;
	border: 1px solid;
	flex-direction: column;
}